<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <object class="icon icon--white collapsible__chevron" type="image/svg+xml" data="images/chevron.svg"></object>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci maiores alias sint debitis asperiores non excepturi, dignissimos saepe tempore ut.
    </div>
</div>
<script src="js/main.js"></script>