<section class="block container">
  <header class="block__header">
    <h2>Confused, On Your Trip</h2>
    <p>Let me help you choose, top places to visit in Nepal.</p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <a href="/">
          <img class="logo-img" src="images/logo.svg" alt="" />
        </a>
      </span>
      <h3 id="title" class="feature__heading">Everest: The Peak</h3>
      <p id="about">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae at
        quibusdam harum molestiae est amet beatae facere sequi aliquid vel.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img
        id="image"
        class="feature__image"
        src="images/everest@2x.jpg"
        alt=""
      />
    </picture>
  </article>
  <button id="explore" class="btn btn--accent explore">Explore Nepal</button>
</section>
