<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Nekapa Yemale Zindabad</h1>
            <p class="hero__tagline">Politics should guide the country in the right path and direction</p>
            <a href="#" class="btn btn--accent btn--stretched">
                Vote CPN UML
            </a>
        </header> 
        <img class="hero__image" src="images/hand.png" alt="">
    </div>
</section>