<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>Welcome To Nepal</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source type="image/jpg" srcset="images/mero-gau.jpg 1x, images/mero-gau@2x.jpg 2x">
            <img  src="images/mero-gau@2x.jpg" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title block__heading">
                        Easy Start and Managed Cloud
                    </h3>
                    <p >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos atque mollitia quisquam, fugiat quaerat aliquid doloremque ea sunt velit itaque.
                    </p>
                </div>
            </li>
            <li>
                <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title block__heading">
                        Easy Start and Managed Cloud
                    </h3>
                    <p >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos atque mollitia quisquam, fugiat quaerat aliquid doloremque ea sunt velit itaque.
                    </p>
                </div>
            </li>
            <li>
                <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title block__heading">
                        Easy Start and Managed Cloud
                    </h3>
                    <p >
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, odio!
                    </p>
                </div>
            </li>
            </ul>
    </div>
</section>